<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>系统登录</title>
		<link rel="stylesheet" href="css/login.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script src="./lib/layui/layui.js" charset="utf-8"></script>
		<!--    引入 本地的 vue  省略了 static 文件夹 -->
		<script src="./js/vue.js" type="text/javascript" charset="utf-8"></script>
		<!--    引入本地的 axios  用来 发送异步请求-->
		<script src="./js/axios.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body class="login-bg">

		<div class="login" id="app">
			<div class="message">系统登录</div>
			<div id="darkbannerwrap"></div>
			<form method="" class="layui-form">
				<input v-model="user.username" placeholder="用户名" type="text" lay-verify="required" class="layui-input">
				<hr class="hr15">
				<input v-model="user.password" lay-verify="required" placeholder="密码" type="password"
					class="layui-input">
				<hr class="hr15">
				<button @click="login()" lay-submit lay-filter="login" style="width:100%;" type="button">登录</button>
				<hr class="hr20">
			</form>
		</div>

		<script>
			new Vue({
				el: '#app',
				data: {
					user: {
						username: '',
						password: ''
					}
				},
				methods: {
					login() {
						// alert(this.user.username)
						console.log(this.user)
						axios.get("http://localhost:8080/user/login",{params:this.user})
						.then((d) =>{
							console.log(d)
							if(d.data == '' || d.data == null){
								alert("用户名或密码错误！！")
							}else{
								//登录成功进入管理员页面
								location.href = "./index.html";
							}
							
						});
					}
				}
			})
			// layui.use(['form'],
			// function() {
			//     $ = layui.jquery;
			//     var form = layui.form(),
			//     layer = layui.layer;

			//     //监听提交
			//     form.on('submit(login)',
			//     function(data) {
			//         //alert(1);
			//         /*console.log(data);*/
			//         layer.alert(JSON.stringify(data.field), {
			//           title: '点击确定进入后台'
			//         },function  () {
			//             location.href = "./index.html";
			//         })
			//         return false;
			//     });
			// });
		</script>


		<!-- 底部结束 -->

	</body>
</html>
